[submodule "balls1/x_googletest"]
	path = balls1/x_googletest
	url = https://github.com/google/googletest.git
[submodule "hordetest/x_horde"]
	path = hordetest/x_horde
	url = https://github.com/horde3d/Horde3D.git
[submodule "opengl/x_glm"]
	path = opengl/x_glm
	url = https://github.com/g-truc/glm.git
